/*	JoVega.css	*/

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

body, p, td{
	font-family:verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	margin: 0px;
}

ul, ol, blockquote{
	margin: 6px 0px 6px 0px;
	/* setting a margin on the left produced varying results in IE7/Firefox3
	   but by setting the padding this seems to now have consistent indentation. */
	padding-left: 30px;
}

ul{
	list-style-type: disc;
}

h1{
	font-size: 20pt;
	font-weight: normal;
	margin: 0 0 12px 0;
	border-bottom: 1px solid gray;
}

h2{
	font-weight: normal;
	font-size: 14pt;
	margin: 12px 0 6px 0;
}

h3{
	font-weight: normal;
	font-size: 12pt;
	margin: 0px;
}

h4{
	font-weight: normal;
	font-size: 12pt;
	margin: 0px;
}

pre{
	margin: 0px;
}

a{
	color: #0000FF;
	text-decoration: underline;
}


/* Document Wrapper */
#wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	background: #ffffff;
}

/* Header */
#header {
	display: none;
}

/* Credit Bar */
#creditbar {
	display: none;
}



/* Content */
#content {
	background: #ffffff;
	margin: 0 auto;
}


/* Menu */
#navcontainer {
	display: none;
}

#navlist {
	display: none;
}


/* Testimonials */
#testimonials {
	display: none;
}


/* Main */
#maincontent {
	padding: 0;
}


/* Footer */
#footer {
	height: 3em;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid gray;
}

#footer p {
	text-align: center;
	color: #999999;
}

.forprint {
	
}

.forscreen {
	display: none;
}